<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
    <link href="/main.css" rel="stylesheet"/>
</head>
<body>
<!-- tag::logout[] -->
<div>
    Hello, <span id="managername" th:text="${#authentication.name}">user</span>.
    <form method="post" th:action="@{/logout}">
        <input type="submit" value="Log Out"/>
    </form>
</div>
<!-- end::logout[] -->

<div id="react"></div>

<script src="built/bundle.js"></script>

</body>
</html>